* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue;
}

/* Scheletro */
header {
    height: 100px;
    width: 100%;
    background-color: #2c3f50;
    align-items: center;
}

#jumbotron {
    background-color: #19bc9c;
}

#portfolio {
    min-height: 500px;
}

#about {
    min-height: 300px;
    background-color: #19bc9c;
}

#contact {
    min-height: 500px;
}

#info {
    min-height: 200px;
    background-color: #3a546d;
}

#copyright {
    min-height: 100px;
    background-color: #2c3f50;
}

section {
    padding: 50px 0;
}
/*Fine Scheletro */
/* common */
hr {
    border: 2px solid;
}

.fa-star {
    font-size: 30px;
    margin: 0 10px;
}

.my-star::before,
.my-star::after {
    content:"";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 20px;
    background-color: white;
}

.my-star i {
    vertical-align: middle;
}

.my-star2::before,
.my-star2::after {
    content:"";
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 20px;
    background-color: #2c3f50;
}

.my-star2 i {
    vertical-align: middle;
}

.white {
    color: white;
}

.petrolio {
    color: #2c3f50;
}
/* fine common */
/* main */
/* jumbotron */
#jumbotron .img {
    height: 200px;
    width: 200px;
}
/* portfolio */
.quadrato {
    height: 100%;
    width: 100%;
    position:relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 20px;
}

.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}

.quadrato:hover .overlay {
    display: block;
    cursor: pointer;
}

.quadrato img {
    width: 100%;
    border-radius: 20px;
}
/* fine portfolio */
/* about */
#bottone {
    text-align: center;
}
/*fine about */

.h100 {
    height: 100px;
}

#send {
    background-color: #19bc9c;
}
/* Fine main */

/* Footer */
footer {
    color: white;
}

.my__footerTop {
    background: #3A546D;
}

.my__icons {width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid white; 
    cursor: pointer;}

.my__footerBottom {
    background: #2C3E50;
}

.my__footerBottom span {
    font-size: small;
}
/* copyright */
#copyright span {
    margin: auto;
}
/* fine copyright */
/* Fine Footer */

/* debug */
.debug .col-lg-1,
.debug .col-lg-2,
.debug .col-lg-3,
.debug .col-lg-4,
.debug .col-lg-5,
.debug .col-lg-6,
.debug .col-lg-7,
.debug .col-lg-8,
.debug .col-lg-9,
.debug .col-lg-10,
.debug .col-lg-11,
.debug .col-lg-12 {
    border: 1px solid black;
}

.debug .row {
    border: 1px solid red;
}

.debug .quadrato {
    background-color: red;
}


