* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Scheletro */
header {
    height: 100px;
    width: 100%;
    background-color: #2c3f50;
    align-items: center;
}

#jumbotron {
    /* min-height: 400px; */
    background-color: #19bc9c;
}

#portfolio {
    min-height: 500px;
}

#about {
    min-height: 300px;
    background-color: #19bc9c;
}

#contact {
    min-height: 500px;
}

#info {
    min-height: 200px;
    background-color: #3a546d;
}

#copyright {
    min-height: 100px;
    background-color: #2c3f50;
}

section {
    padding: 50px 0;
}
/*Fine Scheletro */

/* header */
#nav-header{
    text-align: right;
}

#nav-header a {
    padding: 0 10px;
}
/* Fine header */
/* main */
#jumbotron .img {
    padding: 30px;
}

/* Fine main */

/* debug */
#jumbotron .img {
    width: 80px;
    height: 80px;
    background-color: red;
}

.debug .col-lg-1,
.debug .col-lg-2,
.debug .col-lg-3,
.debug .col-lg-4,
.debug .col-lg-5,
.debug .col-lg-6,
.debug .col-lg-7,
.debug .col-lg-8,
.debug .col-lg-9,
.debug .col-lg-10,
.debug .col-lg-11,
.debug .col-lg-12 {
    border: 1px solid black;
}

.debug .row {
    border: 1px solid red;
}

.debug .quadrato {
    height: 200px;
    width: 100%;
    background-color: red;
}


